@* @page "/gyms/{userId}"*@
@page "/gyms"

<h3>Gyms</h3>

<PageTitle>Type of memberships</PageTitle>

@using Fitness.Data
@inject Fitness.IService.IGymService gymService





<div class="col-md-12" style="margin-top: 20px">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <label> Name: </label>
            </div>
            <div class="col-md-8">
                <input @bind="Gym.Name" style="width:100%;" placeholder=" Name" />
            </div>
               
        </div>

        <div class="row">
            <div class="col-md-4"> </div>
            <div class="col-md-8">
                <button class="btn btn-primary" @onclick="@(e=>Save())">Save</button>
                <button class="btn btn-warning" @onclick="@(e=>Reset())" style="float:right;">Reset</button>
            </div>
        </div>
    </div>
  
</div>

<div class="col-md-8">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name  </th>
                <th>GymId  </th>
            </tr>
        </thead>
        <tbody>
            @if (GymList.Count() > 0)
            {
                @foreach (var gym in GymList)
                {
                    <tr>
                        <td>@gym.Name</td>
                        <td>@gym.Id</td>
                        <td>
                            <button class="btn btn-primary" @onclick="@(e=>Edit(gym.Id))">Edit</button>
                            <button class="btn btn-danger" @onclick="@(e=>Delete(gym.Id))">Delete</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@*
<div class="col-md-8">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name  </th>
                <th>GymId  </th>
                <th>gyms memberships</th>
            </tr>
        </thead>
        <tbody>
           @if (gyms.Count() > 0)
            
                @foreach (var gym in gyms)
                {
                    <tr>
                        <td>@gym.Name</td>
                        <td>@gym.Id</td>

                
                        <td>

                       
                        @foreach (var membership in @gym.TypeOfMemberships)
                        {
                            
                        <td>@membership.Id</td>
                        <td>@membership.Description</td>
                        }
                        </td>

                        <td>
                        <button class="btn btn-primary" @onclick="@(e=>Edit(gym.Id))">Edit</button>
                        </td>

                        <td>
                            <button class="btn btn-danger" @onclick="@(e=>Delete(gym.Id))">Delete</button>
                        </td>
                    </tr>
                }
              } 
        </tbody>
    </table>
</div>

*@
@code {

    Gym Gym = new Gym();
    List<Gym> GymList = new List<Gym>();
    List<Gym> gyms = new List<Gym>();

    [Parameter]
    public string? userId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Gym = new Gym();
        GetGyms();
        gyms = await gymService.GetGymsWithMemberships();

    }
    private void GetGyms()
    {
        GymList = gymService.GetGyms();
    }
    private void Save()
    {
        gymService.SaveOrUpdate(Gym);
        Reset();
        GetGyms();
    }
    private void Reset()
    {
        Gym = new Gym();

    }
    private void Edit(string gymId)
    {
        Gym = gymService.GetGym(gymId);
    }
    private void Delete(string gymId)
    {
        gymService.Delete(gymId);
        GetGyms();
    }
}
